.highside, div.listingblock.execute.highside > div > pre > code {
  font-family: monospace;
  {{/* font-size: 1.1em; */}}
  line-height: calc(1 / 1.1);

  background-color: rgb(247, 192, 138);
  color: black;
}

.lowside, div.listingblock.execute.lowside > div > pre > code {
  font-family: monospace;
  {{/* font-size: 1.1em; */}}
  line-height: calc(1 / 1.1);

  background-color: rgb(208, 199, 228);
  color: black;
}
