table > tbody > tr > td > div > div.listingblock.execute {
  margin: 0;
 }

.highside, 
div.listingblock.execute.highside > div > pre > code, 
div.listingblock.highside > div > pre > code {
  font-family: monospace;
  background-color: rgb(247, 192, 138);

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

span.highside {
  padding: 0.1em 0.4em;
}

.lowside,
div.listingblock.execute.lowside > div > pre > code,
div.listingblock.lowside > div > pre > code {
  font-family: monospace;
  background-color: rgb(208, 199, 228);

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

span.lowside {
  padding: 0.1em 0.4em;
}

.salsa,
div.listingblock.execute.salsa > div > pre > code,
div.listingblock.salsa > div > pre > code {
  font-family: monospace;
  background-color: rgb(240, 191, 193);

  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

span.salsa {
  padding: 0.1em 0.4em;
}

div.listingblock.output {
  margin: 0;
}

.nav-banner {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

div.banner-item-title {
  width: 100%;
  font-weight: bold;
}

.nav-banner > div > span {
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: thin;
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
}

.tmux-block {
  font-size: xx-large;
}
